<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
  <h1 fxFlex>Weather of {{weatherData?.city?.name}}</h1>
  <h1 fxFlex fxHide.lt-sm>Sun Rise {{weatherData?.sun_rise}}</h1>
  <h1 fxFlex fxHide.lt-sm>Sun Set {{weatherData?.sun_set}}</h1>
</div>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor="let item of weatherDetail; index as i;" (afterExpand)="receiveWeather(item, i)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>{{item?.dt_txt | date:'EEE, MMM d'}}</h2>
      </mat-panel-title>
      <mat-panel-description>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
          <h4 fxFlex fxLayout.lt><b>Temp {{convertTocelcius(item?.main?.temp)}}°C</b></h4>
          <h4 fxFlex fxHide.lt-md><b>Max/Min {{convertTocelcius(item?.main?.temp_max)}}
            °/{{convertTocelcius(item?.main?.temp_min)}}°</b></h4>
          <div fxLayout="row">
            <img fxFlex src="http://openweathermap.org/img/wn/{{item?.weather[0]?.icon}}@2x.png"
                 style="width:48px;height:48px;">
            <h4 fxFlex fxHide.lt-sm><b>{{item?.weather[0]?.main}}</b></h4>
          </div>

        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let item of weatherPerDay">
      <div class="card">
        <div class="container" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="15px"
             fxLayoutAlign="space-evenly center">
          <div fxFlex="0 1 calc(20%)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="60%">
            <h4><b>{{item?.dt_txt | date:'h:mm a'}}</b></h4>
            <h4><b> {{convertTocelcius(item.main.temp)}}°C</b></h4>

          </div>
          <div fxFlex="0 1 calc(20%)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="60%">
            <h4><b>Min/Max  {{convertTocelcius(item?.main?.temp_max)}}°C / {{convertTocelcius(item?.main?.temp_min)}}
              °C</b></h4>
            <h4><b>Pressure {{item?.main?.pressure}} hPa</b></h4>
          </div>
          <div fxFlex="0 1 calc(20%)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="60%">
            <h4><b> Visibility {{convertToKM(item?.visibility)}}Km</b></h4>
            <h4><b>Wind {{item?.wind?.speed}} m/s {{item?.wind?.dir}}°</b></h4>
          </div>
          <div fxFlex="0 1 calc(20%)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="60%">
            <div fxLayout="row">
              <img src="http://openweathermap.org/img/wn/{{item?.weather[0]?.icon}}@2x.png"
                   style="width:38px;height:38px">
              <h4><b>{{item?.weather[0]?.description | titlecase}}</b></h4>
            </div>
            <h4><b>Cloudiness {{item?.clouds?.all}}%</b></h4>
          </div>

        </div>
      </div>
    </ng-container>

  </mat-expansion-panel>

</mat-accordion>
<router-outlet></router-outlet>
